### Commented entries have reasonable defaults.
### Uncomment to edit them.
# $Id: piradio,v 1.18 2014/08/21 12:01:07 bob Exp $
Source: piradio
Section: sound
Priority: optional
Homepage: http://www.bobrathbone.com
Maintainer: Bob Rathbone <bob@bobrathbone.com>
Standards-Version: 3.9.2
Copyright: GPL3

Package: radiod
# Pre-Depends: <comma-separated list of packages>
# Depends: <comma-separated list of packages>
Depends:  python,python-mpd,mpc,mpd | mopidy,${misc:Depends}
# Recommends: <comma-separated list of packages>
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
# Architecture: any
Architecture: all
# Architecture: armhf
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Raspberry PI radio
 This package provides a radio daemon using MPD
 .
 It requires mpc, mpd and python-mpd to run (Install separately)