# Set default mixer controls
ctl.!default {
    type hw           
    card 1
}

# Set default PCM device
pcm.!default {
      type plug
      slave {
          pcm "plughw:1,0"
          format S32_LE
      }
}


