Source: piradio
Section: sound
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.bobrathbone.com
#Vcs-Git: git://anonscm.debian.org/collab-maint/piradio-3.13.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/piradio-3.13.git;a=summary

Package: piradio
Architecture: any
Depends: mopidy, python-mpd, python-lirc, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: python-pifacecad, python-smbus
Description: Raspberry PI radio
 This package provides a radio daemon using MPD
 .
 It requires mpc, mpd and python-mpd to run (Install separately)
